*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}
body{
    a{
        text-decoration: none;
    }
    .yellow{
        color: $yellow;
    }
    .d-flex{
        display: flex;
    }
}