@import "./abstracts/variables";
@import "./mixins/breakpoint";
@import "./abstracts/button";
@import "./abstracts/common";
@import "./includes/header";
@import "./includes/footer";

.content{
    width: 80%;
    margin: auto;
    .content-container{
        justify-content: space-between;
        align-items: center;
        .content-box1{
            width: 40%;
            justify-content: center;
            align-items: center;
            h1{
                font-size: 52px;
                font-weight: 500;
            }
        }
        .content-box2{
            width: 60%;
            .content-text1{
                margin: auto 0px;
            }
            .content-text2{
                background-color: #f8cc1c;
                padding: 60px 40px;
                color: white;
                line-height: 2;
            }
        }
    }
}


.choose{
    width: 100%;
    height: 820px;
    margin-top: 90px;
    background-color: black;
    clip-path: polygon(0 0,100% 0,100% 100%,0 80%);
    color: white;
    .choose-container{
        width: 85%;
        margin-top: 90px;
        margin-right: 50px;
        float: right;
        h1{
            font-size: 52px;
            font-weight: 500;
        }
        p{
            width: 60%;
        }
        .choose-para{
            padding-top: 20px;
        }
        .choose-content{
            justify-content: space-between;
            .choose-box1{
                width: 30%;
                div{
                    padding-top: 20px;
                    h2{
                        padding-top: 8px;
                    }
                    p{
                        padding-top: 13px;
                        width: 80%;
                    }
                    i{
                        font-size: 27px;
                        color: white;
                        padding: 15px;
                        margin-right: 15px;
                        border-radius: 50%;
                        background-color: #f8cc1c;
                    }
                }
            }
            .choose-box2{
                 margin: auto;
                 position: relative;
                .choose-empty{
                    width: 480px;
                    height: 360px;
                    background-color: #f8cc1c;
                }
                .choose-img{
                    position: absolute;
                    left: -25px;
                    top: 20px;
                    width:480px;
                    img{
                        width:480px;   
                    }
                }
            }
        }
    }
}

.our-product{
    width: 100%;
    margin-top: 50px;
    h1{
        margin-left: 270px;
        margin-bottom: 50px;
        font-size: 52px;
        font-weight: 500;
    }
    .our-product-img{
        width: 100%;
    display: grid;
    row-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    
    }
    .product1{
        width: 700px;
        position: relative;
        img{
            width: 660px;
            height: 350px;
            box-shadow: 2px 8px 20px 13px rgba(0, 0, 0, 0.11);
        }
        .product1-text{
            top: 78%;
            right: 15%;
            position: absolute;
            h2{
               font-size: 40px;
               font-weight: 500;
            }
        }
    }
    .product2{
        grid-column-end: span 2;
        position: relative;
        img{
            width: 350px;
            height: 350px;  
        }
        .product2-text{
            top: 78%;
            right: 25%;
            position: absolute;
            h2{
                color: white;
                font-size: 40px;
                font-weight: 500;
            }
        }
    }
    .product3{
        position: relative;
        img{
            width: 430px;
            height: 350px;    
        }
        .product3-text{
            top: 78%;
            right: 15%;
            position: absolute;
            h2{
                color: white;
                font-size: 40px;
                font-weight: 500;
            }
        }
    }
    .product4{
        grid-column-end: span 2;
        position: relative;
        img{
            width: 855px;
            height: 350px;  
        }
        .product4-text{
            top: 78%;
            right: 11%;
            position: absolute;
            h2{
                color: white;
                font-size: 40px;
                font-weight: 500;
            }
        }
    }
    .product5{
        grid-column-end: span 2;
        position: relative;
        img{
            width: 624px;
            height: 350px;  
        }
        .product5-text{
            top: 78%;
            right: 10%;
            position: absolute;
            h2{
                color: white;
                font-size: 40px;
                font-weight: 500;
            }
        }
    }
}

.about{
    width: 80%;
    margin: 90px auto;
    .about-container{
        .about-head{
            text-align: center;
            padding-bottom: 60px;
            h1{
                font-size: 52px;
                font-weight: 500;
            }
        }
        // .about-content{
        //     justify-content: center;
        //     align-items: center;
        //     .about-para{
        //         padding: 80px;
        //         // border-radius: 40px;
        //         border-top-left-radius: 10%;
        //         background-color: #f8cc1c;
        //         clip-path: polygon(0 0,100% 30%,100% 100%, 10% 100%);
        //     }
        // }

        .about-content{ 
            position: relative;
            .about-img1{  
                padding: 50px;
            }
            .about-para{
                top: -20px;
                left: 10%;
                position: absolute;
                .about-img{
                    align-items: center;
                    img{
                        width: 200px;
                         
                    }
                    h2{
                        padding-top: 80px;
                        padding-left: 20px;
                        font-size: 40px;
                        font-weight: 500;
                    }
                }
                p{
                    width: 90%;
                    margin: auto;
                    padding-top: 20px;
                    padding-left: 30px;
                    line-height: 24px;
                    color: white;
                }
            }
        }   
        .about-next{
            ul{
                width: 20%;
                margin: auto;
                justify-content: space-between;
               li{
                    background-color: #f8cc1c;
                    width: 70px;
                    height: 17px;
                    border-radius: 10px;
                    list-style-type: none;
                    &:hover{
                        background-color: black;
                   }
                   &:nth-child(1):active{
                    background-color: red;
                   }
               }
            }
        }        
    }
}

